    .PillList-item {
        cursor: pointer;
        display: inline-block;
        float: left;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin: 0 12px 12px 0;
        text-transform: capitalize;
    }

        .PillList-item input[type="checkbox"] {
            display: none;
        }

            .PillList-item input[type="checkbox"]:checked + .PillList-label {
                background-color: #e14eca;
                border: 1px solid #e14eca;
                color: #fff;
                padding-right: 16px;
                padding-left: 16px;
            }

    .PillList-label {
        border: 1px solid #e14eca;
        border-radius: 20px;
        color: #e14eca;
        display: block;
        padding: 2px 5px;
        text-decoration: none;
    }

    .PillList-item
    input[type="checkbox"]:checked + .PillList-label
    .Icon--checkLight {
        display: inline-block;
    }

    .PillList-item input[type="checkbox"]:checked + .PillList-label .Icon--addLight,
    .PillList-label .Icon--checkLight,
    .PillList-children {
        display: none;
    }

    .PillList-label .Icon {
        width: 12px;
        height: 12px;
        margin: 0 0 0 12px;
    }

    .Icon--smallest {
        font-size: 12px;
        line-height: 12px;
    }

    .Icon {
        background: transparent;
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        position: relative;
    }


    