a {
    text-decoration: none;
    color: white;
} 

                a:hover {
            color: #fdfffc;
        }
 li {
    list-style: none;
}

/*navbar*/
.navbar {
    z-index: 2;
    width: 80px;
    max-width: 4rem;
    background-color: #e14eca;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease;
}


    .navbar .navbar-container {
        padding: 0px;
        padding-top: 20px;
    }

        /*logo*/
        .navbar .navbar-container .navbar-logo-div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.7rem;
            /* padding-left: 1rem; */
        }

            .navbar .navbar-container .navbar-logo-div .navbar-toggler {
                transition: .2s ease-in-out;
            }

                .navbar .navbar-container .navbar-logo-div .navbar-toggler i {
                    font-size: 1rem;
                }

                .navbar .navbar-container .navbar-logo-div .navbar-toggler:hover {
                    color: var(--light-grey);
                }

            .navbar .navbar-container .navbar-logo-div .navbar-logo-link {
                display: none;
            }

    /*search*/
    .navbar .navbar-search {
        width: 100%;
        /* background-image: url('../img/search.svg'); */
        background-repeat: no-repeat;
        background-color: var(--light-green);
        background-position: center;
        margin: 0 auto;
        /* background-position: 1rem 0.7rem; */
        padding: 1rem;
        /* padding-left: 3rem; */
        border-radius: 10px;
        margin-bottom: 1.2rem;
    }

#icon-search {
    position: absolute;
    color: var(--green);
    font-size: 1.2rem;
    top: 4.5rem;
    left: 1.4rem;
}

.navbar .navbar-search::placeholder {
    visibility: hidden;
    opacity: 0;
}

/*menu list*/
.navbar .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 0px;
}

    .navbar .menu-list .menu-item {
        width: 100%;
    }


        .navbar .menu-list .menu-item .menu-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.7rem;
            transition: 0.2s ease-in-out;
            font-weight: 500;
            color: white;
        }


            .navbar .menu-list .menu-item .menu-link .menu-link-text {
                display: none;
                color: inherit;
            }

            .navbar .menu-list .menu-item .menu-link:hover {
                color: white;
            }

/*user information div*/
.navbar .user-container {
    background-color: var(--light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

    .navbar .user-container .user-info {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

        .navbar .user-container .user-info i {
            font-size: 1.2rem;
        }

        .navbar .user-container .user-info .user-details .user-name {
            font-size: 1.1rem;
            font-weight: light;
        }

        .navbar .user-container .user-info .user-details .user-occupation {
            font-size: 0.9rem;
            font-weight: lighter;
        }



/*navbar.active*/
/*navbar.active navbar*/
.navbar.active {
    width: 170px;
    max-width: 100%;
    transition: .30s transform ease-in-out;
}

    /*navbar.active logo*/
    .navbar.active .navbar-container {
        padding-top: 20px;
        justify-content: space-between;
        padding-left: 1rem;
    }

        .navbar.active .navbar-container .navbar-logo-div {
            justify-content: space-between;
        }

            .navbar.active .navbar-container .navbar-logo-div .navbar-logo-link {
                display: block;
                color: white;
            }

    /*navbar.active search input*/
    .navbar.active .navbar-search {
        background-position: 1rem 0.7rem;
        padding: 1rem;
        padding-left: 3rem;
    }

    .navbar.active #icon-search {
        top: 5.1rem;
        left: 1.6rem;
    }

    .navbar.active .navbar-search::placeholder {
        visibility: visible;
        opacity: 1;
    }

    /*navbar.active menu*/
    .navbar.active .menu-list {
        padding-left: 1rem;
    }

        .navbar.active .menu-list .menu-item .menu-link {
            justify-content: flex-start;
        }

            .navbar.active .menu-list .menu-item .menu-link .menu-link-text {
                color: white;
                display: inline;
            }

    /*navbar.active user container*/
    .navbar.active .user-container {
        justify-content: space-between;
        align-items: center;
    }

        .navbar.active .user-container .user-info {
            display: flex;
        }


/*dashboard*/
.dashboard {
    width: 100%;
    height: auto;
    
}

.navbar.active + .dashboard {
    margin-left: 12%;
}



/*media queries*/
@media only screen and (max-width: 870px) {
    .navbar.active {
        max-width: 27%;
    }

        .navbar.active + .dashboard {
            margin-left: 30%;
        }
}

@media only screen and (max-width: 670px) {
    .navbar.active {
        min-width: 100%;
    }

    .navbar .navbar-container {
        position: relative;
        width: 100%;
    }

    .navbar .navbar-search {
        position: absolute;
        border-radius: 0;
        left: 0;
    }

    .navbar .menu-item {
        position: relative;
        top: 4rem;
    }
}

@media only screen and (max-width: 350px) {
    .dashboard .title {
        font-size: 1.7rem;
    }
}